{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAVALON - THE FUTURE OF TEA -</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dd0a98f14d.js" crossorigin="anonymous"></script>
</head>
<body>

    {% block content %}
    {% endblock content %}
    
</body>
</html>